Repository Georgios-rigas/legal-rag: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend-simple.yml: any of: api.py, query_rag.py, config.py, pdf_generator.py, requirements.txt, Dockerfile, chunked_output, case_id_to_s3_mapping.json
  azure-pipelines-backend.yml: any of: api.py, query_rag.py, config.py, pdf_generator.py, requirements.txt, Dockerfile, chunked_output, case_id_to_s3_mapping.json
  azure-pipelines-frontend.yml: any of: frontend

Update workflows to use self-hosted runner
  .github/workflows/backend-cicd.yml
  .github/workflows/frontend-cicd.yml
Due: none

Test CI/CD with self-hosted runner
  api.py
Due: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml

Fix GitHub Actions workflows to use bash shell on Windows runner
  .github/workflows/backend-cicd.yml
  .github/workflows/frontend-cicd.yml
Due: none

Add workflow files to trigger paths
  .github/workflows/backend-cicd.yml
  .github/workflows/frontend-cicd.yml
Due: none

Fix workflows to use PowerShell instead of bash
  .github/workflows/backend-cicd.yml
  .github/workflows/frontend-cicd.yml
Due: none

Use powershell instead of pwsh
  .github/workflows/backend-cicd.yml
  .github/workflows/frontend-cicd.yml
Due: none

Fix UTF-8 encoding for Azure CLI
  .github/workflows/backend-cicd.yml
  .github/workflows/frontend-cicd.yml
Due: none

Use chcp 65001 and --no-logs to fix encoding
  .github/workflows/backend-cicd.yml
  .github/workflows/frontend-cicd.yml
Due: none

Add Azure DevOps CI/CD pipelines for personal deployment
  .github/workflows/backend-cicd-personal.yml
  azure-pipelines-backend.yml
  azure-pipelines-frontend.yml
  k8s-deployment-personal.yaml
Due: none

Update pipeline to use self-hosted agent pool
  azure-pipelines-backend.yml
Due: none

Fix: Use PowerShell instead of PowerShell Core
  azure-pipelines-backend.yml
Due: none

Add timeout and retry logic to pipeline push step
  azure-pipelines-backend.yml
Due: none

Add Docker cache cleanup and memory-optimized push strategy
  azure-pipelines-backend.yml
Due: none

Fix Azure DevOps pipeline reliability and optimize Docker builds
  .dockerignore
  azure-pipelines-backend.yml
Due: none

Optimize self-hosted agent pipelines with aggressive memory management
  azure-pipelines-backend.yml
  azure-pipelines-frontend.yml
Due: none

Fix null byte corruption in api.py causing CrashLoopBackOff
  api.py
Due: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml

Switch from local to OpenAI embeddings and update frontend API URL
  check_index.py
  config.py
  embed_and_index.py
  frontend/src/App.tsx
  k8s-deployment-personal.yaml
  reindex_with_openai.py
Due: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Remove sentence-transformers dependency from requirements
  requirements.txt
Due: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml

Make sentence_transformers import conditional
  query_rag.py
Due: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml

Trigger pipeline rebuild
  azure-pipelines-backend.yml
Due: none

Add evaluation framework and monitoring pipeline
  ARCHITECTURE_DIAGRAMS.md
  AZURE_DEVOPS_MONITORING_SETUP.md
  CICD_AND_MONITORING_GUIDE.md
  DEPLOYMENT_GUIDE.md
  EVALUATION_README.md
  EVALUATION_SUMMARY.txt
  MLOPS_SUMMARY.txt
  MONITORING_QUICK_START.txt
  azure-pipelines-monitoring.yml
  evaluate_rag.py
  evaluation_dataset.json
  scripts/check_quality_gates.py
Due: none

Add Weights & Biases integration for automated monitoring
  AZURE_ML_MONITORING_SETUP.md
  WANDB_SETUP_GUIDE.md
  azure-pipelines-monitoring.yml
  evaluate_rag.py
  requirements.txt
Due: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml

Fix monitoring pipeline - remove Python 3.11 requirement
  azure-pipelines-monitoring.yml
Due: none

Fix Unicode encoding error for Windows
  evaluate_rag.py
Due: none

Fix evaluate_rag.py to use proper RAG query method
  evaluate_rag.py
Due: none

bulle dedup and bulletin
  evaluate_rag.py
Due: none

Reduce evaluation to 10 queries for faster pipeline
  azure-pipelines-monitoring.yml
Due: none

Add comprehensive evaluation metrics documentation
  EVALUATION_METRICS_EXPLAINED.md
Due: none

Add in-page case viewer with React Router
  api.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/CaseViewer.tsx
Due: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Fix S3 client initialization - revert to default credential chain
  api.py
Due: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml

Fix S3 bucket config - use test-bucket-gr7 and override env vars
  config.py
Due: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml

Add correct S3 bucket config to Kubernetes deployment
  k8s-deployment.yaml
Due: none

Update frontend UI with particle effects and styling improvements
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/CaseViewer.tsx
  frontend/src/components/ui/gemini-particles.tsx
  frontend/tailwind.config.js
Due: azure-pipelines-frontend.yml

Fix TypeScript build errors and update frontend UI
  .github/workflows/monitoring-evaluation.yml
  AUTOMATED_MONITORING_SUMMARY.md
  CV_PROJECT_SUMMARY.md
  PROJECT_OVERVIEW.md
  api.py
  evaluate_rag_fix.py
  evaluate_rag_temp.py
  evaluation.ipynb
  frontend/src/App.tsx
  frontend/src/components/ui/gemini-particles.tsx
  frontend/src/components/ui/sparkles.tsx
  ingest_pipeline.py
  k8s-frontend-deployment.yaml
Due: azure-pipelines-backend-simple.yml, azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Add imagePullPolicy Always to frontend deployment
  k8s-frontend-deployment.yaml
Due: none

Update frontend deployment to use latest tag
  k8s-frontend-deployment.yaml
Due: none

Trigger frontend rebuild
  frontend/index.html
Due: azure-pipelines-frontend.yml

Add imagePullPolicy Always to backend deployment
  k8s-deployment-personal.yaml
Due: none
